[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask = "*"
marshmallow-sqlalchemy = "*"
click = "*"
faker = "*"

[requires]
python_version = "3.8"
